.container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-bottom: 2rem;
}

.organizationCards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}