.container {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: calc(100vh - 70px);
  margin: auto;
}

.organizationCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.card1 {
  width: 60%;
}

.card2 {
  width: 40%;
  text-align: center;
  background-color: #43a9fe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  text-align: center;
  font-size: 1.3rem;
  color: #fff;
  padding: 2rem;
}