.registrationContainer {
  display: flex;

  justify-content: center;
}

.userRegistrationForm {
  background-color: #fafafa;
  padding: 20px;
  width: 60%;
}

.userRegistrationForm registration {
  width: 100%;
}

.profileImageUploadSection {
  padding: 20px;
  width: 40%;
}

.title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin: 30px 0;
  color: gray;
}
.userPinGenerator {
  padding-top: 10px;
  padding-bottom: 20px;
  width: 28%;
}
.userCustomisePin {
  padding-top: 10px;
  width: 40%;
}
