.userRegistrationForm {
  padding: 20px;
}

.profileImageUploadSection {
  padding: 20px;
  display: flex;
  width: 40%;
  flex-direction: column;
}

.title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin: 20px 0;
  margin-left: -200px;
  color: gray;
}

.userPinGenerator {
  padding-top: 10px;
  padding-bottom: 20px;
}